{% extends 'index.html' %} {% load static %} {% block content %}
<div id="perfil" style="justify-content: space-between">
  <div id="foto-perfil">
    <img src="{% static 'images/usuario.png'%}" width="110px" height="110px" />
  </div>
  <div id="perfil2">
    <label id="texto-form"> <b>Nombre</b> </label
    ><input
      id="Datos-Perfil"
      placeholder="{{auth.first_name}} {{auth.last_name}}"
      required
      disabled="true"
    />
    <label id="texto-form"> <b>Rol</b> </label
    ><input
      id="Datos-Perfil"
      placeholder="{{user.rol}}"
      min="17"
      disabled="true"
      max="80"
      required
    />
    <label id="texto-form"> <b>Cargo</b> </label
    ><input
      id="Datos-Perfil"
      placeholder="decano"
      min="17"
      disabled="true"
      max="80"
      required
    />
    <label id="texto-form"> <b>Procesos</b> </label
    ><textarea
      id="Datos-Perfil-Vista"
      rows="5"
      cols="19"
      disabled="true"
      placeholder="EL objetivo es..."
      required
    ></textarea>
  </div>
</div>
{% endblock %}
