{% extends 'index.html' %} {% load static %} {% block content %}

<!-- partial:index.partial.html -->
<div class="container-xl">
  <div class="row">
    <div class="table-responsive col-md-12">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-md-12">
              <h2 class="Titulo-tabla">USUARIOS DEL SISTEMA<b></b></h2>
            </div>
            <br />
            <br />
            <div class="col-md-12">
             
              <div class="search-box">
                <i class="material-icons">&#xE8B6;</i>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search&hellip;"
                  id="searchInput"
                />
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>N°</th>
              <th style="text-align: center">Nombre</th>
              <th style="text-align: center">Rol</th>
              <th style="text-align: center">Acciones</th>
            </tr>
          </thead>
          <tbody id="cuerpo-tabla">
            {% for x in usuarios %}
            {% if x.user.first_name != '' %}
            <tr>
              <td>{{x.id}}</td>
              
              <td>{{x.user.first_name}}</td><td>{{x.rol}}</td>
              <td style="text-align: center">
                {% if user.rol == "administrador" %}

                    {% if x in ids_auditores %}

                        {% for audit in auditores %}
                        
                        {% if x == audit.usuario %}
                        <a
                        href="#editModal"
                        class="edit"
                        onclick="setUsuarioEditar2('{{x.id}}','{{x.user.first_name}}','{{x.rol}}','{{audit.id}}','{{audit.dni}}','{{audit.dependencia}}','{{audit.cargo}}')"
                        title="Edit"
                        data-toggle="tooltip"
                        ><i class="material-icons">&#xE254;</i></a
                        >
                        
                        {% endif %} 
                        {% endfor %}
                       
                        
                    
                    {% else %}

                            <a
                            href="#editModal"
                            class="edit"
                            onclick="setUsuarioEditar('{{x.id}}','{{x.user.first_name}}','{{x.rol}}')"
                            title="Edit"
                            data-toggle="tooltip"
                            ><i class="material-icons">&#xE254;</i></a
                            >
                    {% endif %} 

                {% endif %} 

            
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- Modal edit -->
  <div
    id="editModal"
    class="modalDialog"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <form action="{% url 'usuarios' 0 %}" method="post">
      {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">
              Editar Usuario
            </h4>
            <a
              data-dismiss="modal"
              style="
                padding: 3px;
                background-color: rgb(216, 22, 22);
                color: #fff;
              "
              aria-label="Close"
              href="#close"
              title="Close"
              class="close"
              >X</a
            >
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <label data-error="wrong" data-success="right">Nombre</label>
              <input
                type="text"
                id="edit_nombre"
                name="edit_nombre"
                class="form-control validate"
                disabled 
              />
              <br />
              <fieldset>
                <label for="edit_checkbox_administrativos">
                  <input
                    type="radio"
                    id="edit_checkbox_administrativos"
                    name="seleccion_edit"
                    onclick="cambio(0)"
                    value="1"
                  />
                  Administrador</label
                >
                <label for="edit_checkbox_auditor">
                  <input
                    type="radio"
                    id="edit_checkbox_auditor"
                    name="seleccion_edit"
                    onclick="cambio(0)"
                    value="2"
                  />
                  Auditor</label
                >
                <label for="edit_checkbox_normal">
                  <input
                    type="radio"
                    id="edit_checkbox_normal"
                    name="seleccion_edit"
                    onclick="cambio(1)"
                    value="3"
                  />
                  Usuario Normal</label
                >
              </fieldset>
            </div>

            <div class="modal-body mx-3" id="edit_auditado" style="display:none">
                <div class="md-form mb-5">
                <input
                  type="hidden"
                  id="edit_audi_id"
                  name="edit_audi_id"
                  value=""
                  
                />
                
            <label for="edit_dni">DNI
                <input
                  type="text"
                  id="edit_dni"
                  name="edit_dni"
                  value=""
                  
                />
                </label>
                <label for="edit_dependencia">Dependencia
                    <input
                      type="text"
                      id="edit_dependencia"
                      name="edit_dependencia"
                      value=""
                      
                    />
                </label>
                <label for="edit_cargo">Cargo
                        <input
                          type="text"
                          id="edit_cargo"
                          name="edit_cargo"
                          value=""
                          
                        />
                </label>
            </div>
               
            </div>


          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button
                id = "edit_button"
              class="btn btn-default"
              style="background-color: rgb(50, 100, 194); color: #fff"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- partial -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{% static 'js/script-administrador-tabla.js' %}"></script>

  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'styles/style-modal.css' %}"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
  />
  {% endblock %}
</div>
