{% extends 'index.html' %} {% load static %} {% block content %}

<!-- partial:index.partial.html -->
<div class="container-xl">
  <div class="row">
    <div class="table-responsive col-md-12">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-md-12">
              <h2 class="Titulo-tabla">Clausulas<b></b></h2>
            </div>
            <br />
            <br />
            <div class="col-md-12">
              <div
                class="col-md-12"
                style="
                  background-color: #008f39;
                  width: auto;
                  display: inline-block;
                  padding: 8px;
                  border-radius: 5px;
                "
              >
                <a
                  href="#openModal"
                  style="color: #fff"
                  class="button"
                  type="button"
                  >Añadir</a
                >
              </div>
              <div class="search-box">
                <i class="material-icons">&#xE8B6;</i>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search&hellip;"
                  id="searchInput"
                />
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>N°</th>
              <th style="text-align: center">Nombre</th>
              <th style="text-align: center">Acciones</th>
            </tr>
          </thead>
          <tbody id="cuerpo-tabla">
            {% for x in clausulas %}
            <tr>
              <td>{{x.id}}</td>
              <td>{{x.nombre}}</td>
              <td style="text-align: center">
                {% if user.rol == "administrador" %}
                <a
                  href="#editModal"
                  class="edit"
                  onclick="setClausulaEditar('{{x.id}}','{{x.nombre}}')"
                  title="Edit"
                  data-toggle="tooltip"
                  ><i class="material-icons">&#xE254;</i></a
                >
                {% endif %} {% if user.rol == "administrador" %}
                <a
                  href="#deleteModal"
                  class="delete"
                  title="Delete"
                  onclick="setClausulaBorrar('{{x.id}}','{{x.nombre}}')"
                  data-toggle="tooltip"
                  ><i class="material-icons">&#xE872;</i></a
                >
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal add -->
  <div
    id="openModal"
    class="modalDialog"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <form action="{% url 'clausula' %}" method="post">
      {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Crear Clausula</h4>
            <a
              data-dismiss="modal"
              style="
                padding: 3px;
                background-color: rgb(216, 22, 22);
                color: #fff;
              "
              aria-label="Close"
              href="#close"
              title="Close"
              class="close"
              >X</a
            >
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <label data-error="wrong" data-success="right">Nombre</label>
              <input
                type="text"
                id="nombre"
                name="nombre"
                class="form-control validate"
              />
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button
              class="btn btn-default"
              style="background-color: #008f39; color: #fff"
            >
              Crear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Modal edit -->
  <div
    id="editModal"
    class="modalDialog"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <form action="{% url 'edit-clausula' 0 %}" method="post">
      {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Editar Clausula</h4>
            <a
              data-dismiss="modal"
              style="
                padding: 3px;
                background-color: rgb(216, 22, 22);
                color: #fff;
              "
              aria-label="Close"
              href="#close"
              title="Close"
              class="close"
              >X</a
            >
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <label data-error="wrong" data-success="right">Nombre</label>
              <input
                type="text"
                id="edit_nombre"
                name="nombre"
                class="form-control validate"
              />
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button
              class="btn btn-default"
              style="background-color: rgb(50, 100, 194); color: #fff"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Modal delete -->
  <div
    id="deleteModal"
    class="modalDialog"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <form action="{% url 'delete-clausula' 0 %}" method="post">
      {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Borrar Clausula</h4>
            <a
              data-dismiss="modal"
              style="
                padding: 3px;
                background-color: rgb(216, 22, 22);
                color: #fff;
              "
              aria-label="Close"
              href="#close"
              title="Close"
              class="close"
              >X</a
            >
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <label data-error="wrong" data-success="right">Nombre</label>
              <input
                type="text"
                id="delete_nombre"
                name="nombre"
                class="form-control validate"
                value=""
                readonly="readonly"
              />
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button
              class="btn btn-default"
              style="background-color: #ff0000; color: #fff"
            >
              Borrar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- partial -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{% static 'js/script-administrador-tabla.js' %}"></script>

  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'styles/style-modal.css' %}"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
  />
  {% endblock %}
</div>
