{% extends 'index.html' %} {% load static %} {% block content %}

<!-- partial:index.partial.html -->
<div style="padding-top: 8%; padding-left:8%; padding-right:4%; padding-bottom:1%; background-color: white">
  <form action="{% url 'edit-plan' plan.id %}" method="post" id="formID">
    {% csrf_token %}
    <h4 style="background: #a07b2b; color: white">
      Registro del plan de Auditoria
    </h4>
    <div class="row">
      <div
        class="col-md-3"
        style="height: 102px; padding: 0px; border-style: groove"
      >
        <img
          src="{% static 'images/unsa.png' %}"
          style="height: 95%; width: 95%"
        />
      </div>
      <div class="col-md-6" style="padding: 0px">
        <div style="height: 51px; border-style: groove">
          <center><h4>FORMATO</h4></center>
        </div>
        <div style="height: 51px; border-style: groove">
          <center><h4>PLAN DE AUDITORIA</h4></center>
        </div>
      </div>
      <div class="col-md-1" style="padding: 0px">
        <div style="height: 34px; border-style: groove">
          <center><h5>CODIGO</h5></center>
        </div>
        <div style="height: 34px; border-style: groove">
          <center><h5>VERSION</h5></center>
        </div>
        <div style="height: 34px; border-style: groove">
          <center><h5>REVISION</h5></center>
        </div>
      </div>
      <div class="col-md-2" style="padding: 0px">
        <div style="height: 34px">
          <textarea
            name="codigo"
            class="form-control"
            rows="1"
            required="required"
            style="resize: none"
            readonly="readonly"
          >{{plan.codigo}}</textarea>
        </div>
        <div style="height: 34px">
          <textarea
            name="version"
            class="form-control"
            rows="1"
            required="required"
            style="resize: none"
            readonly="readonly"
          >{{plan.version}}</textarea>
        </div>
        <div style="height: 34px">
          <textarea
            type="number"
            id="n_revision"
            name="n_revision"
            class="form-control"
            rows="1"
            required="required"
            style="resize: none"
            onKeyUp="validateRevision(event)"
          >{{plan.n_revision}}</textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Titulo</label>
          <input
            style="width: 100%"
            type="text"
            class="form-control"
            id=""
            name="titulo_plan"
            placeholder="Titulo de plan"
            required
            value="{{plan.titulo}}"
          />
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Nro de Auditoria</label>
          <input
            style="width: 40%"
            type="number"
            class="form-control"
            id="n_auditoria"
            name="n_auditoria"
            required
            placeholder="numero de Auditoria"
            value="{{plan.n_auditoria}}"
          />
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Tipo de auditoria</label>
          <select class="form-control" id="tipo_auditoria" name="tipo_auditoria">
            {% if plan.tipo_auditoria == "Interna" %}
            <option selected>Interna</option>
            {% else %}
            <option>Interna</option>
            {% endif%} {% if plan.tipo_auditoria == "Externa" %}
            <option selected>Externa</option>
            {% else %}
            <option>Externa</option>
            {% endif%}
          </select>
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-2">
        <input
          id="submitID"
          type="image"
          src="{% static 'images/guardar.png' %}"
          width="60%"
          class="btn pull-right"
        />
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Auditor lider</label>
          <select class="form-control" id="auditor_lider" name="auditor_lider">
            {% for auditor in auditores %} {% if auditor.id == plan.auditor_lider_id %}
            <option selected value="{{auditor.id}}">{{auditor}}</option>
            {% else %}
            <option value="{{auditor.id}}">{{auditor}}</option>
            {% endif %} 
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Función lider</label>
          <input
            style="width: 100%"
            type="text"
            class="form-control"
            id="funcion_lider"
            name="funcion_lider"
            required
            placeholder="Funcion Lider"
            value="{{plan.funcion_lider}}"
          />
        </div>
      </div>
      <div class="col-md-2">
        <!-- <input
          type="image"
          src="{% static 'images/pdf.png' %}"
          width="60%"
          class="btn pull-right"
        /> -->
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Fecha de Inicio</label>
          <fieldset class="form-group date-icon">
            <input type="date" readonly="readonly" class="col-md-5" id="fecha_inicio" required
            name="fecha_inicio" value = "{{plan.fecha_inicio|date:"Y-m-d"}}"
            />
          </fieldset>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Fecha de Fin</label>
          <fieldset class="form-group date-icon">
            <input type="date" readonly="readonly" class="col-md-5" id="fecha_fin" required
            name="fecha_fin" value = "{{plan.fecha_fin|date:"Y-m-d"}}" />
          </fieldset>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Auditores</label><br />
          <button
            type="button"
            class="btn btn-primary btn-sm"
            onclick="AñadirAuditores()"
          >
            <i class="fa fa-plus" aria-hidden="true"></i> Añadir
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm pull-right"
            onclick="removerAuditores()"
          >
            <i class="fa fa-plus" aria-hidden="true"></i> Eliminar
          </button>
          <br /><br />
          <table class="table">
            <tbody id="Auditores">
              {% for auditor_plan in auditores_plan %}
              <tr id="antiguo_auditor_tr_{{forloop.counter}}">
                <td>
                  <input
                    type="number"
                    id="antiguo_auditor_id_{{ forloop.counter }}"
                    name="antiguo_auditor_id"
                    value="{{auditor_plan.id }}"
                    style="display: none; margin-bottom: 10px;"
                  />
                  <input
                    type="number"
                    id="antiguo_auditor_status_{{ forloop.counter }}"
                    name="antiguo_auditor_status"
                    value="1"
                    style="display: none; margin-bottom: 10px;"
                  />
                  <select class="select_auditor form-control" onchange="cambioAuditor('antiguo_select_auditor_{{forloop.counter}}',{{forloop.counter0}})" id="antiguo_select_auditor_{{forloop.counter}}"
                   name ="antiguo_auditor" >
                    {% for auditor in auditores %}
                      {% if auditor.id == auditor_plan.auditor_id %}
                      <option selected value="{{auditor.id}}">{{auditor}}</option>
                      {% else %}
                      <option value="{{auditor.id}}">{{auditor}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Funcion</label><br />
          <button
            type="button"
            class="btn btn-primary btn-sm"
            onclick="CrearFunciones()"
          >
            <i class="fa fa-plus" aria-hidden="true"></i> Añadir
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm pull-right"
            onclick="removerFunciones()"
          >
            <i class="fa fa-plus" aria-hidden="true"></i> Eliminar
          </button>
          <br /><br />
          <table class="table">
            <tbody id="Funciones">
              {% for funcion_plan in funciones_plan %}
              <tr id="antiguo_funcion_tr_{{forloop.counter}}">
                <td>
                  <input
                    type="number"
                    id="antiguo_funcion_id_{{ forloop.counter }}"
                    name="antiguo_funcion_id"
                    value="{{funcion_plan.id }}"
                    style="display: none; margin-bottom: 10px;"
                  />
                  <input
                    type="number"
                    id="antiguo_funcion_status_{{ forloop.counter }}"
                    name="antiguo_funcion_status"
                    value="1"
                    style="display: none; margin-bottom: 10px;"
                  />
                  <input style="width: 100%;" type="text" class="form-control" id="" placeholder="Funcion" name="antiguo_funcion" value="{{funcion_plan.funcion}}">
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--  col-md-6   -->

    <div class="col-md-13">
      <!--<button
        type="button"
        class="btn btn-primary btn-sm"
        onclick="AñadirTabla()"
      >
        <i class="fa fa-plus" aria-hidden="true"></i> Añadir
      </button>
      <button
        type="button"
        class="btn btn-danger btn-sm pull-right"
        onclick="removerTabla()"
      >
        <i class="fa fa-plus" aria-hidden="true"></i> Eliminar
      </button>-->
      <table class="table" id="bloques_procesos_planes">
        <thead>
          <tr>
            <th scope="col" style="width: 13%">Fecha</th>
            <th scope="col" style="width: 14%">Hora</th>
            <th scope="col" style="width: 14%">Lugar/Sitio</th>
            <th scope="col" style="width: 14%">Actividad</th>
            <th scope="col" style="width: 15%">Proceso</th>
            <th scope="col" style="width: 14%">Dependencia</th>
            <th scope="col" style="width: 15%">Equipo Auditor</th>
          </tr>
        </thead>
        <tbody id="tableBOT">
          {% for bloque_proceso in bloques_procesos%}
          <tr>
            <td
              colspan="7"
              style="
                text-align: center;
                background-color: rgb(90, 66, 221);
                color: white;
              "
            >
            <input name="titulos" required type="text"  size=70% style="text-align:center; color:black;" value="{{bloque_proceso.titulo}}"/>
            
            </td>
          </tr>
          {% for proceso_plan in procesos_planes %}
          {% if proceso_plan.0.bloque_proceso_auditoria_id == bloque_proceso.id %}
          <tr
            id="proceso_1"
            style="
              border-width: 1px;
              border-style: solid;
              border-color: rgb(90, 66, 221);
            "
          >
            <td class="td1">
              <fieldset class="form-group date-icon">
                <input
                  type="date"
                  class="col-md-10"
                  style="margin-right: 5%; margin-top: 6%; margin-left: 2%"
                  id="fecha_{{forloop.counter}}"
                  name="proceso_plan_fechas"
                  value = "{{proceso_plan.0.fecha|date:"Y-m-d"}}"
                  required="required"
                />
              </fieldset>
            </td>

            <td class="td2">
              <fieldset class="form-group date-icon">
                <label
                  >Hora de Inicio<input
                    type="time"
                    class="col-md-10"
                    style="margin-right: 10%; margin-top: 3%"
                    id="hora{{forloop.counter}}_1"
                    name="proceso_{{forloop.counter}}_fechas"
                    value = "{{proceso_plan.0.hora_inicio|time:"H:i"}}"
                /></label>
                <br />
                <label
                  >Hora de Finalización<input
                    type="time"
                    class="col-md-10"
                    style="margin-top: 3%"
                    id="hora{{forloop.counter}}_2"
                    name="proceso_{{forloop.counter}}_fechas"
                    value = "{{proceso_plan.0.hora_fin|time:"H:i"}}"
                /></label>
              </fieldset>
            </td>

            <td class="td3">
              <input
                style="width: 90%"
                type="textarea"
                class="form-control"
                id=""
                placeholder="Lugar"
                name="lugares"
                value = "{{proceso_plan.0.lugar}}"
              />
            </td>
            <td class="td4">
              <input
                style="width: 90%"
                type="textarea"
                class="form-control"
                id=""
                name="actividades"
                placeholder="Actividad"
                value = "{{proceso_plan.0.actividad}}"
              />
            </td>
            <td class="td5">
              <textarea
                name="titulo"
                class="form-control"
                rows="1"
                required="required"
                style="width: 90%"
                id=""
                placeholder="Proceso"
                readonly="readonly"
              >{{proceso_plan.2|join:', ' }}</textarea>
              <br />
              
              <div class="multiselectClausula">
                <div class="selectBoxClausula" onclick="showCheckboxes('checkboxes{{ forloop.counter }}')">
                  <select>
                    <option>Clausulas</option>
                  </select>
                  <div class="overSelect"></div>
                </div>
                <div class="checkboxes" id="checkboxes{{ forloop.counter }}">
                  {% for clausula in clausulas %}
                  <label for="{{clausula.nombre}}_{{forloop.parentloop.counter}}_{{ forloop.counter }}">
                    {% if clausula in proceso_plan.4 %}
                    <input name="clausulas_{{forloop.parentloop.counter}}" type="checkbox" checked id="{{clausula.nombre}}_{{forloop.parentloop.counter}}_{{ forloop.counter }}" value="{{clausula.id}}"/>{{clausula.nombre}}</label
                  >
                    {% else %}
                    <input name="clausulas_{{forloop.parentloop.counter}}" type="checkbox" id="{{clausula.nombre}}_{{forloop.parentloop.counter}}_{{ forloop.counter }}" value="{{clausula.id}}"/>{{clausula.nombre}}</label
                  >
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </td>
            <td class="td6">
              <input
                style="width: 90%"
                type="textarea"
                class="form-control"
                id=""
                placeholder="Auditado"
                readonly="readonly"
                value = "{{proceso_plan.3}}"
              />
            </td>
            <td class="td7">
              {% for auditor_plan in auditores_plan %}
              <div class="col-md-4">
              
                {% if auditor_plan in proceso_plan.5 %}
                <input
                  type="number"
                  id="antiguo_auditor_checkbox_id_{{ forloop.counter }}"
                  name="antiguo_auditor_checkbox_{{forloop.counter}}"
                  {% for equipo_plan in proceso_plan.6 %}
                  {% if equipo_plan.plan_auditor == auditor_plan %}
                  value="{{equipo_plan.id}}"
                  {% endif%}
                  {% endfor%}
                  
                  style="display: none; margin-bottom: 10px;"
                />
                <input
                  type="number"
                  id="antiguo_auditor_checkbox_status_{{ forloop.counter }}"
                  name="antiguo_auditor_checkbox_status_{{forloop.counter}}"
                  value="1"
                  style="display: none; margin-bottom: 10px;"
                />
                <input
                  checked
                  class="form-check-input"
                  type="checkbox"
                  id="antiguo_auditor_checkbox_{{forloop.parentloop.counter}}_{{ forloop.counter }}"
                  onchange="antiguoChangeCheckbox('antiguo_auditor_checkbox_{{forloop.parentloop.counter}}_{{ forloop.counter }}')"
                  value="{{auditor_plan.auditor.id}}"
                  name="antiguo_auditor_checkbox_id_{{forloop.counter}}"
                />
                {% else %}
                <input
                  type="number"
                  id="auditor_checkbox_position_{{forloop.parentloop.counter}}_{{forloop.counter}}"
                  name="auditor_checkbox_position_{{forloop.parentloop.counter}}"
                  value="{{forloop.counter}}"
                  disabled
                  style="display: none; margin-bottom: 10px;"
                />
                <input
                  class="form-check-input nuevo"
                  type="checkbox"
                  id="auditor_checkbox_{{forloop.parentloop.counter}}_{{forloop.counter}}"
                  value="{{auditor_plan.auditor.id}}"
                  name="auditor_checkbox_{{forloop.parentloop.counter}}"
                  onchange="changeCheckbox('auditor_checkbox_{{forloop.parentloop.counter}}_{{forloop.counter}}')"
                />
                {% endif %}
                <label class="antiguo-initials-name form-check-label" for="inlineCheckbox1">{{auditor_plan.auditor}}</label>
              </div>
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          {% endfor%}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>

  <!-- partial -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{% static 'js/script-plan-edit.js' %}"></script>
  <script src="{% static 'js/script-entidades-checkboxes.js' %}"></script>

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
  />
</div>
{% endblock %}
