{% extends 'index.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
/>
<!-- partial:index.partial.html -->
<div class="container" style="padding-top: 130px; background-color: white">
  <form action="{% url 'add-plan' %}" method="post">
    {% csrf_token %}
    <h4 style="background: #a07b2b; color: white">
      Registro del plan de Auditoria
    </h4>
    <div class="row">
      <div
        class="col-md-4"
        style="height: 144px; padding: 0px; border-style: groove"
      >
        <img
          src="{% static 'images/unsa.png' %}"
          style="height: 100%; width: 100%"
        />
      </div>
      <div class="col-md-4" style="padding: 0px">
        <div style="height: 72px; border-style: groove">
          <center><h3>FORMATO</h3></center>
        </div>
        <div style="height: 72px; border-style: groove">
          <center><h4>PLAN DE AUDITORIA</h4></center>
        </div>
      </div>
      <div class="col-md-2" style="padding: 0px">
        <div style="height: 72px; border-style: groove">
          <center><h4>CODIGO</h4></center>
        </div>
        <div style="height: 36px; border-style: groove">
          <center><h4>VERSION</h4></center>
        </div>
        <div style="height: 36px; border-style: groove">
          <center><h4>REVISION</h4></center>
        </div>
      </div>
      <div class="col-md-2" style="padding: 0px">
        <div style="height: 74px">
          <!--<textarea
            name="codigo"
            class="form-control"
            rows="3"
            required="required"
            style="resize: none"
          ></textarea>-->
          <select class="form-control select2" id="codigo" name="codigo">
            <option selected>Elige el numero de auditoria</option>
            {% for programa in programas %}
            <option value="{{programa.id}}">{{programa.codigo}}</option>
            {% endfor %}
          </select>
        </div>
        <div style="height: 34px">
          <textarea
            name="version"
            class="form-control"
            rows="1"
            required="required"
            style="resize: none"
          ></textarea>
        </div>
        <div style="height: 34px">
          <textarea
            name="n_revision"
            class="form-control"
            rows="1"
            required="required"
            style="resize: none"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Nro de Auditoria</label>
          <input
            type="number"
            style="width: 40%"
            class="form-control select2"
            id="n_auditoria"
            name="n_auditoria"
          />
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Tipo de auditoria</label>
          <select
            class="form-control"
            id="tipo_auditoria"
            name="tipo_auditoria"
          >
            <option>Interna</option>
            <option>Externa</option>
          </select>
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-2">
        <input
          type="image"
          src="{% static 'images/guardar.png' %}"
          width="60%"
          class="btn pull-right"
        />
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Auditor lider</label>
          <select
            class="form-control select2"
            id="elaborado"
            name="auditor_lider"
          >
            <option selected>Seleccione el responsable</option>
            {% for auditor in auditores %}
            <option value="{{auditor.id}}">{{auditor}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <input
          type="image"
          src="{% static 'images/pdf.png' %}"
          width="60%"
          class="btn pull-right"
        />
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Fecha de Inicio</label>
          <fieldset class="form-group date-icon">
            <input
              type="date"
              class="col-md-5"
              id="fecha1_1"
              name="proceso_1_fechas"
            />
          </fieldset>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Fecha de Fin</label>
          <fieldset class="form-group date-icon">
            <input
              type="date"
              class="col-md-5"
              id="fecha1_1"
              name="proceso_1_fechas"
            />
          </fieldset>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Auditores</label><br />
          <button
            type="button"
            class="btn btn-primary btn-sm"
            onclick="AñadirAuditores()"
          >
            <i class="fa fa-plus" aria-hidden="true"></i> Añadir
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm pull-right"
            onclick="removerAuditores()"
          >
            <i class="fa fa-plus" aria-hidden="true"></i> Eliminar
          </button>
          <br /><br />
          <table class="table">
            <tbody id="auditoresTbody"></tbody>
          </table>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="first">Funcion</label><br />
          <button
            type="button"
            class="btn btn-primary btn-sm"
            onclick="CrearFunciones()"
          >
            <i class="fa fa-plus" aria-hidden="true"></i> Añadir
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm pull-right"
            onclick="removerFunciones()"
          >
            <i class="fa fa-plus" aria-hidden="true"></i> Eliminar
          </button>
          <br /><br />
          <table class="table">
            <tbody id="funcionesTbody"></tbody>
          </table>
        </div>
      </div>
      <!--  col-md-6   -->
    </div>
  </form>
</div>

<!-- partial -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{% static 'js/script-plan-add.js' %}"></script>

{% endblock %}
