body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/static/images/fondo.f4b07e7de069.svg");
 background-repeat: no-repeat;
  background-size: cover;
  background-position: all;

}
.bodyLogin{
  background-image: url("/static/images/fondo.f4b07e7de069.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: all;
  flex-direction: initial;
  align-items: all;
  width:100%;
  height:100%;
}
body .signature {
  font-style: italic;
  font-size: 12px;
  color: #212121;
  padding-top: 15px;
  transition: all 0.3s ease-in-out;
}
body .signature:hover {
  color: white;
}

.navigationWrapper {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #62031B;
  box-shadow: 0 5px 50px 0 #510417;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
}

.navigationWrapper .navigation {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0px;

}

.navigationWrapper .navigation li {
  opacity: 1;
  list-style-type: none;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.navigationWrapper .navigation .parent {
  padding: 0 10px;
  cursor: pointer;

}
.navigationWrapper .navigation .parent .link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: white;
}
button:visited, button:hover, button:active {
  text-decoration:none;
}
.navigationWrapper .navigation .parent .link:hover {
  color: #ea4f4c;
}
.navigationWrapper .navigation .parent .link .fa-minus {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: -16px;
  top: 3px;
}
.navigationWrapper .navigation .parent .link .fa-plus {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.navigationWrapper .navigation .parent .link .fas {
  color: #ea4f4c;
  margin: -2px 4px 0;
  font-size: 10px;
  transition: all 0.3s ease-in-out;
}

.navigationWrapper .navigation .subnavigation {
  display: none;
  list-style-type: none;
  width: 500px;
  position: absolute;
  top: 40%;
  left: 25%;
  margin: auto;
  transition: all 0.3s ease-in-out;

}
.navigationWrapper .navigation .subnavigation li a {
  font-size: 17px;
  padding: 0 5px;
}

.active.parent {
  transform: translate(-40px, -25px);
}
.active.parent .link {
  font-size: 12px;
}
.active.parent .link .fa-minus {
  opacity: 1 !important;
  font-size: 8px;
}
.active.parent .link .fa-plus {
  opacity: 0 !important;
}
.active.parent .subnavigation {
  display: flex;
}

.active#clients .subnavigation {
  transform: translate(-150px, 17px);
}

.active#services .subnavigation {
  transform: translate(-290px, 17px);
}

.invisible {
  opacity: 0 !important;
  transform: translate(50px, 0);
}
.container-lista {
  margin-top:50px;
  width: 100%;
  height: 100%;
  margin-left:50%;
  display:inline;
}
.container-lista .ordenfechas {
  top: 200px;
  background-color: #d9d9d9;
  width: 50%;
  list-style: none;
  }
  .container-lista .ordenfechas li {
    width: 25%;
    list-style: none;
    float: left;
    background-color: #d9d9d9;
    margin-right: 10px;
    padding: 0 4px;
  }
  .container-lista .ordenfechas .select2-selection__choice {
    color: #555555;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin: 5px 0 0 6px;
    padding: 0 8px;
    display: list-item;
  }

  .container-lista .ordenfechas .select2-selection__choice .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 3px;
}


.btn-container{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.btn-descarga{
  
  box-shadow: 2px 2px 5px #999;
  display:block;
  width:60px;
  height:60px;
  background:#fff;
  border-radius:50px;
  text-align:center;
  line-height:60px;
  font-size:30px;
  color:#15be63;
  transition: all 400ms ease-out;
  border:none
}

.btn-descarga:hover{
  transform:scale(1.1);
}
.crear{
  background:#62031B;
  margin-left: auto; 
  margin-right: 40px;
  margin-top: 20px;
  font-size: 25px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  box-shadow:  5px 5px  #510417;
  border: none;
}
.crear:hover{
  color: #ea4f4c;
  cursor: pointer;
}
.crear-mini{
  background:#62031B;
  margin-left: auto; 
 
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  box-shadow:  5px 5px  #510417;
  border: none;
}
.crear-mini:hover{
  color: #ea4f4c;
  cursor: pointer;
}  


  p {
    margin: 0;
  }



  .toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #510417;
    color: white;
    font-weight: 600;
  }
  .bandera{
    position: absolute;
    top: -5px;
  }
  .botton-unsa{
    background-color: #510417;
    height: 62%;
    width: 20%;
    
    overflow: hidden;
    top:10%;
    position: absolute;

    right: 20px;
  }

  .toolbar img {
    margin: 0 16px;
  }
  
  .text-ubicacionOr{
    height: 100px;
    width: 220px;
    font-size: 10px;
    padding-top: 20px;
  }
    .text-ubicacion{
    height: 100px;
    width: 220px;
    font-size: 14px;
    padding-top: 20px;
  }
  .text-info{
    font-size: 18px;
    color: #b3b3b3;
    margin-bottom: 2px;
    padding-bottom: 5px;
  }
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 5%;
    width: 100%;
    position: absolute;
  }
  .imagen-boton-unsa {
    margin-top: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .card {
    
    position: absolute;
    all: unset;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 65%;
    margin: 0 8px 10px;
    padding: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }


  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:focus,
  a:hover {
    
    text-decoration: none;
    color:#84030a;
  }
  a{
    text-decoration: none;
    color:#84030a;
  }
  .sidebar2 button {
    color:#84030a;
    text-decoration: none;
  }
  #boton1s, #boton1s:visited, #boton1s:focus, #boton1s:hover{
    text-decoration: none;
    color:#84030a;
  }
  #boton2s, #boton2s:visited, #boton2s:focus, #boton2s:hover{
    text-decoration: none;
    color:#84030a;
  }
  #boton3s, #boton3s:visited, #boton3s:focus, #boton3s:hover{
    text-decoration: none;
    color:#84030a;
  }
  #boton4s, #boton4s:visited, #boton4s:focus, #boton4s:hover{
    text-decoration: none;
    color:#84030a;
  }
  #boton5s, #boton5s:visited, #boton5s:focus, #boton5s:hover{
    text-decoration: none;
    color:#84030a;
    
  }

.visorPDF{
width: 50%;
height: 500px;
padding-top: 10%;

}
.container-xl{
  padding-top: 120px;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: white;
  box-shadow: 0 5px 50px 0 #510417;
  color: white;
  text-transform: uppercase;
  z-index: 100;
  position:fixed;
  width: 100%;
}
.menu ul {
  list-style-type: none;
 list-style-position:inside;
 margin:0;
 padding:0;
 left:5%;

}




.menu ul p {
 color:#fff;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 display: block;
 padding:10px;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-transform:uppercase;
 letter-spacing:1px;
 
}
.menu ul li {
  position:relative;
  display: inline-block;
 background-color: #62031B;
  float:left;
  
  
   
   margin-right: 50px;
  height: 100%;
 }
 
 
 .menu ul li:hover {
  background: #4F0316;
 }
 
 
 
 .menu ul li:hover > ul {
  display:block;
 }
button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.sidebar {
  position: fixed;
    
    overflow: hidden;
    left: 70px;
    width: 0px;
    height: 100%;
    top:170px;
    z-index: 5;
    background:#f6f0f0;
    transition: width 0.4s;
}
.sidebar2 {
  opacity: 0;
  position: fixed;
  overflow: hidden;
  z-index: 3;
  left: 0;
  width: 0px;
  height: 100%;
  top:100px;  
  background:#f6f0f0;
  transition: width 0.2s;
}
.sidebar2 button > span {
  margin-left: 20px;
}

.sidebar3 {
  position: fixed;
  overflow: hidden;
  z-index: 4;
  left: 0;
  width: 72px;
  height: 100%;
  
  top:100px;
  background: #62031B;
  transition: width 0.4s;
}


body.open .sidebar{
  left:70px;
  transition: width 0.4s;
  opacity: 1;
  width: 330px;
  

}
body.open .sidebar3{
  transition: width 0.4s;
  opacity: 1;
  width: 400px;

}
body.open .sidebar2{
  transition: width 0.2s;
  
}
body.barraVacia .sidebar2 
{
  width: 400px;
  left:390px;
  animation: appear 0.1s both;
}

.sidebar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.chevron-arrow-right {
  display: inline-block;
  position: absolute;
  right: 22%;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  width: 10px; height: 10px;
  transform: rotate(-45deg);
  
}

.sidebar-header {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 1.25rem 0 0;
    background: rgba(0, 0, 0, 0.1);
}

.sidebar-header span {

    text-transform: uppercase;
    margin-left: 0.5rem;
    color: #ffffff;
}

.sidebar-burger {
    width: 72px;
    height: 72px;
    display: grid;
    place-items: center;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0zIDVoMThNMyAxMmgxOE0zIDE5aDE4IiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48L3N2Zz4=) no-repeat center center;
    transition: 0.3s;
}






.sidebar-nav {
    display: flex;
    padding-top: 0px;
    flex: 1 1 auto;
    flex-direction: column;
    
}
.sidebar-nav aside button{
    display: flex;
    gap: 25px;
    align-items: center;
    height: 55px;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1;
    padding: 0 25px;
    
}



.sidebar aside button > span {
    color: black;
    opacity: 0;
    transition: 0.3s;
  }

@keyframes appear {
    0% {
        opacity: 0;
        translate: 0 10px;
    }
    100% {
        opacity: 1;
        translate: 0;
    }
}

body.open .sidebar aside button > span {
    opacity: 1;
    animation: appear 0.3s both;
}



.text-dev {
    color: #ffffff;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.text-dev a {
    color: #0d6efd;
    font-weight: 800;
}

.menu .logoWrapper {
  display: flex;
  padding-left: 20px;
  
}

.ordenfechas {
    background-color: #d9d9d9;
    list-style: none;
    display: flex;
    position: absolute;
    top: 50%;
    left: 25%;
    width: 20%;
    height: 200px;
  box-shadow:  5px 5px  #9C9898;
}

.ordenfechas li {
      list-style: none;
      float: left;
      background-color: #d9d9d9;
      margin-right: 10px;
      
}
.ordenfechas ul {
  padding-inline-start: 15px;
     
}

.ordenfechas2 {
    background-color: #d9d9d9;
    list-style: none;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 200px;

  box-shadow:  5px 5px  #9C9898;

}
.ordenfechas2 li {
      list-style: none;
      float: left;
      background-color: #d9d9d9;
      margin-right: 10px;
      width: 200px;
     
}
.ordenfechas ul {
  padding-inline-start: 15px;
     
}
.ordenfechas2 .select2-selection__choice {
      color: #555555;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: default;
      float: left;
      width: 100%;
      margin: 2px 0 0 3px;
      padding: 0 8px;
      display: flex;
     
}
.ordenfechas2 .select2-selection__choice .select2-selection__choice__remove {
      color: #999;
      cursor: pointer;
      display: inline-block;
      
      font-weight: bold;
      margin-right: 8px;
}
.ordenfechas2 .select2-selection__choice .select2-selection__choice_text {
    margin-left:2px;
    justify-content: center;
}

#Programa-Form {
width: 70vw;

max-width: 600px;
min-width: 300px;
margin: 0 auto;
padding: 30px;
border: none;
border-radius: 10px;
position:absolute;
top:200px;
left:5%;
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
background-color: rgba(172, 172, 172,0.3);

}
#Proceso-Form {
width: 80vw;
max-width: 500px;
min-width: 300px;
    
margin: 0 auto;
margin-top:30px;

padding: 1em 1.2em;
border-radius: 10px;
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
background-color: rgba(172, 172, 172,0.3);


}


#rellenar-form {
display: block;
margin-right: 0px;
padding: 3px;
width: 99%;
height: 28px;
background-color: #62031B;
color: white;

}

#rellenar-form-num {
display: block;
margin-right: 0px;
padding: 3px;
width: 20%;
height: 28px;
background-color: #62031B;
color: white;
}
#Datos-Perfil{
  display: block;
margin-right: 0px;
padding: 2px;

height: 28px;
background-color: #62031B;
color: white;
width: 100%;
}
#Datos-Perfil-Vista{
  background-color: #62031B;
margin: none;
display: block;
color: white;
font-size:15px;
margin-top: 15px;
margin: 10px 0 0 0;
width: 100%;
min-height: 2em;
padding: 5px;
border: 1px solid;
border-radius: 5px;
resize: none;
}
#Datos-Perfil-Vista::placeholder{
  color:white;
  opacity: 1;
}
#Datos-Perfil::placeholder{
  color:white;
  opacity: 1;
}
#rellenar-form-num-a {

margin: 1px;
margin-right: 30%;
padding: 3px;
width: 50%;
height: 28px;
background-color: #62031B;
color: white;
}
#rellenar-form-num-fe {
display: block;
margin-right: 0px;
padding: 3px;
width: 30%;
height: 28px;
background-color: #62031B;
color: white;
}
fieldset {
border: none;
padding: 1rem 0;
height: auto;
}

label {
display: block;
margin: 0.5rem 0;
width: 100%;

}

.w3-container {
  width : 100vw;
  margin-top: 5%;
  /* border : 1px solid blue; */
}

.w3-input {
  width : 20%;
  margin : 0.5rem;
}
#texto-form {
color: #62031B;
}
.texto-form-mini {
  color: #62031B;
  margin-left: 20%;
  width: 20%;
  height: 35px;
  font-size: 20px;

  }
  #panel{
    float: right;
    width: 20%;
    margin-right: 15%;
  }
select {
margin: 10px 0 0 0;
width: 100%;
min-height: 2em;
}

h1 {
font-family: Geneva,Tahoma,Verdana,sans-serif; 
color: #62031B;
text-align: center;
font-size: 55px;
}

h2 {
margin-top: 0px;
color: black;
}

p {
font-size: 20px;
font-weight: 400;
color: white;
text-align: center;
}

#title {
padding-top: 25px;
top:50px;
position:absolute;
}
#title-menor {
padding-top: 25px;
font-size: 30px;
position: relative;
left: -15%
}
#options {
padding: 20px 0px;
margin:0%;
color: black;
}

.radio {
width: unset;
margin: 0 0.5em 0 0;
vertical-align: middle;
}

textarea {
background-color: #62031B;
margin: none;
display: block;
color: white;
font-size:15px;
margin-top: 15px;
margin: 10px 0 0 0;
width: 100%;
min-height: 2em;
padding: 5px;
border: 1px solid;
border-radius: 5px;
resize: vertical;
    
}

input {

border: 1px solid;
border-radius: 5px;

}

#dropdown {
background-color: #62031B;
color: white;
border: 1px solid;
border-radius: 5px white;
height: 40px;

}

#submit {
background-color: #62031B;
font-size: 15px;
padding: 0%;
width: 150px;
height: 35px;
border: 1px solid;
border-radius: 5px;

}

#Coments {
color: rgb(7,12,50);
font-weight: 600;
font-size: 18px;
}

#checkbox {
  margin: 0 0.5em 0 0;

}

@media (max-width: 500px) {
h1 {
  font-size: 3em;
  transition: all 700ms;
}

#description {
  font-size: 1.1em;
  margin-bottom: 0;
  transition: all 700ms;
}

fieldset {
  font-size: 0.95em;
  transition: all 700ms;
}

#Programa-Form {
  
  padding: 1em 1.2em;
}

textarea {
 
  width: 95%;
}

}
.visorPDF{
  width: 50%;
  height: 500px;
  padding-top: 15%;
  padding-bottom: 3%;
  position:sticky;
}
#perfil{
  padding: 25px 0;
  margin-top: 100px;

		height:100px;
    display: flex;
  flex-direction: row;
  justify-content: center;
}
#foto-perfil{
  border: 1px solid; 
  background-color: #84030a;
  color: #4F0316;
  width: 200px;
  height: 200px;
  left:25%;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  
  
}
#foto-perfil img{
    margin: 0 45px;
    margin-top: 30px;
  }
#perfil2{
  
  width: 60vw;
  display: inline-block;
max-width: 500px;
min-width: 300px;
margin-top: auto;
margin-left: 50px;
height: auto;
padding: 30px;
border: none;
border-radius: 10px;
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
background-color: rgba(172, 172, 172,0.3);

}

@media (max-width: 500px) {
  h1 {
    font-size: 3em;
    transition: all 700ms;
  }

  #description {
    font-size: 1.1em;
    margin-bottom: 0;
    transition: all 700ms;
  }

  fieldset {
    font-size: 0.95em;
    transition: all 700ms;
  }

  #Programa-Form {
    padding: 1em 1.2em;
  }

  textarea {
   
    width: 95%;
  }

}

.crear-mini{
  background:#62031B;
 
  margin-left: 10px;
  font-size: 15px;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  box-shadow:  2px 2px  #510417;
  border: none;
}
.crear-minip{
  background:#62031B;
 
  margin-left: 20%;
  font-size: 15px;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  box-shadow:  2px 2px  #510417;
  border: none;
}
.crear-mini:hover{
  color: #ea4f4c;
  cursor: pointer;
}  
.crear-minip:hover{
  color: #ea4f4c;
  cursor: pointer;
}  

.table-responsive {
  margin: 30px 0;
}
.table-wrapper {
  min-width: 1000px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
  min-width: 100%;
}
.table-title h2 {
  margin: 8px 0 0;
  font-size: 22px;
}
.search-box {
  position: relative;        
  float: right;
}
.search-box input {
  height: 34px;
  border-radius: 20px;
  padding-left: 35px;
  border-color: #ddd;
  box-shadow: none;
}
.search-box input:focus {
  border-color: #3FBAE4;
}
.search-box i {
  color: #a0a5b1;
  position: absolute;
  font-size: 19px;
  top: 8px;
  left: 10px;
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child {
  width: 130px;
}
table.table td a {
  color: #a0a5b1;
  display: inline-block;
  margin: 0 2.5px;
}
table.table td a.view {
  color: #03A9F4;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #E34724;
}
table.table td a.pdf {
  color:#E34724;
}	
table.table td i {
  font-size: 17px;
}

/* Combobox con escuelas y facultades*/
.escuela{
  padding-left: 20px; 
}
.multiselect {
  width: 400px;
}
.multiselectClausula{
  width: 120px;
}

.selectBoxClausula {
  position: relative;
  width: 120px;
}

.selectBoxClausula select {
  width: 100%;
  font-weight: bold;
}

.selectBox {
  position: relative;
  width: 200px;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
}
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.checkboxes {
  display: none;
  border: 1px #dadada solid;
}
.checkboxes label {
  display: block;
}

/* Termina combo box de escuelas y facultades*/