{% load socialaccount %} {% load static %}

<!DOCTYPE html>

<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'styles/styles.css' %}"
  />
</head>

<body class="bodyLogin">
  <div class="bandera">
    <img src="{% static 'images/Banderita.png' %}" alt="" width="300px" />
  </div>
  <div class="toolbar" role="banner">
    <p aria-label="Ubicación" target="_blank" rel="noopener" title="Ubicación">
      <img src="{% static 'images/ubicacion.svg' %}" alt="" width="80px" />
    </p>

    <div class="text-ubicacionOr">
      <span class="text-info">DIRECCIÓN</span>
      <p></p>
      <span>Virgen del Pilar s/n (paralela a la Av. Venezuela) </span>
      <p></p>
      <span>Área de Ciencias Sociales UNSA</span>

      <p></p>
      <span>Arequipa – Perú</span>
    </div>
    <p aria-label="Mensaje" target="_blank" rel="noopener" title="mensaje">
      <img src="{% static 'images/telefono.svg' %}" alt="" width="65px" />
    </p>
    <div class="text-ubicacion">
      <p></p>
      <p></p>
      <span class="text-info">TELÉFONO</span>
      <p></p>
      <span>51 54 232936 </span>
      <p></p>
    </div>
    <p aria-label="email" target="_blank" rel="noopener" title="email">
      <img src="{% static 'images/email.svg' %}" alt="" width="90px" />
    </p>
    <div class="text-ubicacion">
      <p></p>
      <p></p>
      <span class="text-info">E-MAIL</span>
      <p></p>
      <span>ouc@unsa.edu.pe </span>
      <p></p>
    </div>

    <p aria-label="reloj" target="_blank" rel="noopener" title="reloj">
      <img src="{% static 'images/reloj.svg' %}" alt="" width="70px" />
    </p>
    <div class="text-ubicacion">
      <p></p>
      <p></p>
      <span class="text-info">HORARIO</span>
      <p></p>
      <span>08:00 a 15:45 horas </span>
      <p></p>
    </div>
  </div>

  {% if request.user.is_authenticated == False %}
  <form action="{% provider_login_url 'google' %}" method="post">
    {% csrf_token %}

    <div class="botton-unsa">
      <div class="imagen-boton-unsa">
        <img src="{% static 'images/logo-blanco.png' %}" alt="" width="80%" />
      </div>
      <table class="default">
        <tr>
          <div class="card-container">
            <button
              class="card"
              target="_blank"
              rel="noopener"
              href="https://angular.io/tutorial"
            >
              <div style="display: flex">
                <img
                  src="https://ipluton.com/uploads/universidad/unsa.png"
                  alt=""
                  width="20%"
                  height="100%"
                  style="flex: 20%"
                />
                <span style="flex: 80%; text-align: center"
                  >Acceder Con Cuenta Institucional</span
                >
              </div>
            </button>
          </div>
        </tr>
      </table>
    </div>
  </form>
  {% endif %} {% if request.user.is_authenticated == True %}
  <form action="{% url 'principal' %}" method="post">
    {% csrf_token %}

    <div class="botton-unsa">
      <div class="imagen-boton-unsa">
        <img src="{% static 'images/logo-blanco.png' %}" alt="" width="80%" />
      </div>
      <table class="default">
        <tr>
          <div class="card-container">
            <button
              class="card"
              target="_blank"
              rel="noopener"
              href="https://angular.io/tutorial"
            >
              <img
                src="https://ipluton.com/uploads/universidad/unsa.png"
                alt=""
                width="24"
                height="24"
                style="padding-right: 10px"
              />

              <span>Entrar como {{request.user.first_name}}</span>
            </button>
          </div>
        </tr>
      </table>
    </div>
  </form>

  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}

    <div class="botton-unsa">
      <div class="imagen-boton-unsa">
        <img src="{% static 'images/logo-blanco.png' %}" alt="" width="80%" />
      </div>
      <table class="default">
        <tr>
          <div class="card-container">
            <button
              class="card"
              target="_blank"
              rel="noopener"
              href="https://angular.io/tutorial"
            >
              <img
                src="https://ipluton.com/uploads/universidad/unsa.png"
                alt=""
                width="24"
                height="24"
                style="padding-right: 10px"
              />

              <span>Salir</span>
            </button>
          </div>
        </tr>
      </table>
    </div>
  </form>
  {% endif%}

  <router-outlet></router-outlet>
</body>
