{% load static %}
<nav class="menu">
  <!-- start menu -->
  <div class="logoWrapper">
    <img
      src="{% static 'images/Logo-unsa.png' %}"
      width="250px"
      padding-left="10px"
      height="60px"
    />
  </div>
  <ul>
    {% if request.user.is_authenticated %}
    <li>
      <a href="{% url 'logout' %}"><p style="margin: 0">Cerrar Sesión</p></a>
    </li>
    <li style="background: white">
      <p style="color: black" f>Usuario: {{request.user.first_name}}</p>
    </li>
    <li style="background: white">
      <p id="rol" style="color: black" f>ROL: {{user.rol}}</p>
    </li>
  </ul>
  {% endif %}

  <div></div>
</nav>

<!--Barra de izquierda Menu Principal-->
<nav class="sidebar">
  <div class="sidebar-inner">
    <nav class="sidebar-nav">
      <aside class="aside1">
        <button type="button" id="programa" onclick="barraPrograma()">
          <span id="programas">Programa de Auditoría </span>
          <div id="programa_simbolo" class="chevron-arrow-right"></div>
        </button>
      </aside>
      <aside class="aside2">
        <button type="button" id="plan" onclick="barraPlan()">
          <span id="plans" style="animation-delay: 0.1s"
            >Plan de Auditoría</span
          >
          <div id="plan_simbolo" class="chevron-arrow-right"></div>
        </button>
      </aside>
      <aside class="aside3">
        <button type="button" id="informe" onclick="barraInforme()">
          <span id="informes" style="animation-delay: 0.2s"
            >Informe de Auditoría</span
          >
          <div id="informe_simbolo" class="chevron-arrow-right"></div>
        </button>
      </aside>

      {% if user.rol == "administrador"%}
      <aside class="aside4">
        <button type="button" id="acta" onclick="barraActa()">
          <span id="actas" style="animation-delay: 0.3s"
            >Actas de Inicio y Cierre</span
          >
          <div id="acta_simbolo" class="chevron-arrow-right"></div>
        </button>
      </aside>
      {% endif %} {% if user.rol == "administrador" %}
      <aside class="aside5">
        <button type="button" id="auditor" onclick="barraAuditor()">
          <span id="auditors" style="animation-delay: 0.4s">Auditores</span>
          <div id="auditor_simbolo" class="chevron-arrow-right"></div>
        </button>
      </aside>
      {% endif %} {% if user.rol == "administrador" or user.rol == "auditor" %}
      <aside class="aside6">
        <button type="button" id="lista" onclick="barraLista()">
          <span id="listas" style="animation-delay: 0.5s"
            >Lista de Verificación</span
          >
          <div id="lista_simbolo" class="chevron-arrow-right"></div>
        </button>
      </aside>
      {% endif %} {% if user.rol == "administrador" %}
      <aside class="aside6">
        <button type="button" id="dato" onclick="barraDatos()">
          <span id="datos" style="animation-delay: 0.6s">Administracion</span>
          <div id="dato_simbolo" class="chevron-arrow-right"></div>
        </button>
      </aside>
      {% endif %}
    </nav>
  </div>
</nav>
<!--Barra de izquierda Las Sub Opciones-->
<aside class="sidebar2" style="animation-delay: 0.7s">
  <div class="sidebar-inner">
    <nav class="sidebar-nav">
      {% if user.rol == "administrador" %}
      <aside class="aside1.1">
        <button type="button" onclick="" id="boton1">
          <a href="#" id="boton1s">Crear Programa </a>
        </button>
      </aside>
      {% endif %}

      <aside class="aside1.2">
        <button type="button" id="boton2">
          <a href="#" id="boton2s" style="animation-delay: 0.1s">Facultad 1</a>
        </button>
      </aside>
      <aside class="aside1.3">
        <button type="button" id="boton3">
          <a href="#" id="boton3s" style="animation-delay: 0.2s">Facultad 2</a>
        </button>
      </aside>
      <aside class="aside1.4">
        <button type="button" id="boton4">
          <a href="#" id="boton4s" style="animation-delay: 0.3s">Facultad 3</a>
        </button>
      </aside>
      <aside class="aside1.5">
        <button type="button" id="boton5">
          <a href="#" id="boton5s" style="animation-delay: 0.4s">Facultad 4</a>
        </button>
      </aside>
      <aside class="aside1.6">
        <button type="button" id="boton6">
          <a href="#" id="boton6s" style="animation-delay: 0.4s">Facultad 5</a>
        </button>
      </aside>
    </nav>
  </div>
</aside>
<!--Barra de izquierda La barrita de solo el botón-->
<aside class="sidebar3">
  <div class="sidebar-inner">
    <header class="sidebar-header">
      <button
        type="button"
        class="sidebar-burger"
        onclick="toggleSidebar()"
      ></button>

      <span>Opciones Generales</span>
    </header>
  </div>
</aside>
<script src="{% static 'js/script-navbar.js' %}"></script>
