{% extends 'index.html' %} {% load static %} {% block content %}

<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="Titulo-tabla">Programas de Auditoria<b></b></h2>
          </div>
          <div class="col-sm-4">
            <div class="search-box">
              <i class="material-icons">&#xE8B6;</i>
              <input
                type="text"
                class="form-control"
                placeholder="Search&hellip;"
                id="searchInput"
              />
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>N°</th>
            <th>Titulo</th>
            <th>Elaborado por</th>
            <th>Versión</th>
            <!--<th>N° Revisión</th>-->
            <th>N° Revisión</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="cuerpo-tabla">
          {% for x in programas %}
          <tr>

            <td>{{x.id}}</td>
            <td>{{x.titulo}}</td>
            <td>{{x.auditor_elaborado}}</td>
            <td>{{x.version}}</td>
            <td>{{x.n_revision}}</td>
            <td>
              {% if x.docx_generado %}
              <a
                href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Foficina-calidad-django.herokuapp.com%2Fstatic%2Fpdfs%2Fprograma-{{x.id}}{{x.fecha_modificacion|date:"Ymd"}}{{x.fecha_modificacion|time:"His"}}.docx&wdOrigin=BROWSELINK"
                class="view"
                title="View"
                target="_blank"
                data-toggle="tooltip"
                ><i class="material-icons">&#xE417;</i></a
              >
              {% endif %}
              {% if user.rol == "administrador" %}
              <a
                href="{% url 'edit-programa' data_id=x.id %}"
                class="edit"
                title="Edit"
                data-toggle="tooltip"
                ><i class="material-icons">&#xE254;</i></a
              >
              {% endif %} 
              {% if user.rol == "administrador" %}
              <a
                href="{% url 'delete-programa' data_id=x.id %}"
                class="delete"
                title="Delete"
                data-toggle="tooltip"
                ><i class="material-icons">&#xE872;</i></a
              >
              {% endif %}
              {% if x.docx_generado %}
              <a
                href="https://br2-word-view.officeapps.live.com/wv/WordViewer/request.pdf?WOPIsrc=http://br2-view-wopi.wopi.online.office.net:808/oh/wopi/files/@/wFileId?wFileId=https%3A%2F%2Foficina%2Dcalidad%2Ddjango%2Eherokuapp%2Ecom%3A443%2Fstatic%2Fpdfs%2Fprograma%2D{{x.id}}{{x.fecha_modificacion|date:"Ymd"}}{{x.fecha_modificacion|time:"His"}}%2Edocx&access_token=1&access_token_ttl=0&z=f186e95729d7d2cc7dad024c14bb7d5fa5239c99f109eee044f750915f67e200&type=downloadpdf"
                class="view"
                title="View"
                target="_blank"
                data-toggle="tooltip"
                ><i class="material-icons">&#xe415;</i></a
              >
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static 'js/script-programa-tabla.js' %}"></script>
</div>

{% endblock %}
