{% extends 'index.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
/>
<!-- partial:index.partial.html -->
<div
  style="
    padding-top: 8%;
    padding-left: 16%;
    padding-right: 12%;
    padding-bottom: 1%;
    background-color: white;
  "
>
  <form
    action="{% url 'edit-programa' programa.id %}"
    method="post"
    enctype="multipart/form-data"
    id="formID"
  >
    {% csrf_token %}
    <h4 style="background: #a07b2b; color: white">
      Registro de programa de Auditoria
    </h4>
    <div class="row">
      <div
        class="col-md-3"
        style="height: 102px; padding: 0px; border-style: groove"
        style=""
      >
        <img
          src="{% static 'images/unsa.png' %}"
          style="height: 95%; width: 95%"
        />
      </div>
      <div class="col-md-6" style="padding: 0px">
        <div style="height: 51px; border-style: groove">
          <center><h4>FORMATO</h4></center>
        </div>
        <div style="height: 51px; border-style: groove">
          <center><h4>PROGRAMA DE AUDITORÍA DEL SGC2</h4></center>
        </div>
      </div>
      <div class="col-md-1" style="padding: 0px">
        <div style="height: 34px; border-style: groove">
          <center><h5>CODIGO</h5></center>
        </div>
        <div style="height: 34px; border-style: groove">
          <center><h5>VERSION</h5></center>
        </div>
        <div style="height: 34px; border-style: groove">
          <center><h5>REVISION</h5></center>
        </div>
      </div>
      <div class="col-md-2" style="padding: 0px">
        <div style="height: 34px">
          <textarea
            name="codigo"
            class="form-control"
            rows="3"
            required="required"
            style="resize: none"
            readonly="readonly"
          >
{{programa.codigo}}</textarea
          >
        </div>
        <div style="height: 34px">
          <textarea
            name="version"
            class="form-control"
            rows="1"
            required="required"
            style="resize: none"
            readonly="readonly"
          >
{{programa.version}}</textarea
          >
        </div>
        <div style="height: 34px">
          <textarea
            id = "n_revision"
            name="n_revision"
            class="form-control"
            rows="1"
            required="required"
            style="resize: none"
            onKeyUp="validateRevision(event)"
          >
{{programa.n_revision}}</textarea
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Titulo</label>
          <textarea
            name="titulo"
            class="form-control"
            rows="1"
            required="required"
          >
{{programa.titulo}}</textarea
          >
        </div>
      </div>

      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Objetivo</label>
          <textarea
            name="objetivo"
            class="form-control"
            rows="1"
            required="required"
          >
{{programa.objetivo}}</textarea
          >
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-2">
        <input
          type="image"
          src="{% static 'images/guardar.png' %}"
          width="60%"
          class="btn pull-right"
          onclick=""
          id="submitID"
        />
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Alcance</label>
          <textarea
            name="alcance"
            class="form-control"
            rows="1"
            required="required"
          >
{{programa.alcance}}</textarea
          >
        </div>
      </div>
      <!--
      <div class="col-md-2">
        <input
          type="image"
          src="{% static 'images/pdf.png' %}"
          width="60%"
          class="btn pull-right"
        />
      </div> -->
      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Criterios de auditoria</label>
          <textarea
            name="criterios_auditoria"
            class="form-control"
            rows="1"
            required="required"
          >
{{programa.criterios_auditoria}}</textarea
          >
        </div>
      </div>

      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Modalidad</label>
          <select class="form-control" id="modalidad" name="modalidad">
            {% if programa.modalidad == "Virtual" %}
            <option selected>Virtual</option>
            <option>Presencial</option>
            {% else %}
            <option>Virtual</option>
            <option selected>Presencial</option>
            {% endif %}
          </select>
        </div>
      </div>

      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Lugar</label>
          <textarea
            name="lugar"
            class="form-control"
            rows="1"
            required="required"
          >
{{programa.lugar}}</textarea
          >
        </div>
      </div>

      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Recurso</label>
          <textarea
            name="recursos"
            class="form-control"
            rows="1"
            required="required"
          >
{{programa.recursos}}</textarea
          >
        </div>
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Control de riesgos</label>
          <textarea
            name="control_riesgo"
            class="form-control"
            rows="1"
            required="required"
          >
{{programa.control_riesgo}}</textarea
          >
        </div>
      </div>

      <!--  col-md-6   -->
    </div>

    <button
      type="button"
      class="btn btn-primary btn-sm"
      onclick="CreateTable()"
    >
      <i class="fa fa-plus" aria-hidden="true"></i> Añadir
    </button>
    <button
      type="button"
      class="btn btn-danger btn-sm pull-right"
      onclick="removeProceso()"
    >
      <i class="fa fa-plus" aria-hidden="true"></i> Eliminar
    </button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 35%">Proceso de Auditoria</th>
          <th scope="col" style="width: 30%">Fecha de Auditoria</th>
          <th scope="col" style="width: 35%">Dependencia de Auditoria</th>
        </tr>
      </thead>
      <tbody id="table">
        {% for proceso_lista in procesos_lista %}
        <tr id="antiguo_proceso_{{ forloop.counter }}">
          <td style="display: none; margin-bottom: 10px">
            <input
              type="number"
              id="antiguo_proceso_{{ forloop.counter }}_id"
              name="antiguo_proceso_id_grupo"
              value="{{ proceso_lista.0 }}"
              style="display: none; margin-bottom: 10px"
            />
            <input
              type="number"
              id="antiguo_proceso_{{ forloop.counter }}_status"
              name="antiguo_proceso_status_grupo"
              value="1"
              style="display: none; margin-bottom: 10px"
            />
          </td>
          <td id="antiguo_proceso_{{ forloop.counter }}_td1">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              style="margin-bottom: 5px"
              onclick="extraSelectAntiguo('antiguo_proceso_{{ forloop.counter }}_td1',{{ forloop.counter }})"
            >
              Añadir
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm pull-right"
              onclick="removeActividadAntiguo('antiguo_proceso_{{ forloop.counter }}_td1',{{ forloop.counter0 }})"
            >
              <i class="fa fa-plus" aria-hidden="true"></i> Eliminar
            </button>
            {% for actividad in proceso_lista.3 %}
            <input
              type="number"
              id="antiguo_proceso_{{ forloop.parentloop.counter }}_id_{{ forloop.counter }}"
              name="antiguo_proceso_{{ forloop.parentloop.counter }}_procesos_id"
              value="{{actividad.1.id }}"
              style="display: none; margin-bottom: 10px"
            />
            <input
              type="number"
              id="antiguo_proceso_{{ forloop.parentloop.counter }}_status_{{ forloop.counter }}"
              name="antiguo_proceso_{{ forloop.parentloop.counter }}_procesos_status"
              value="1"
              style="display: none; margin-bottom: 10px"
            />
            <select
              class="form-control select2"
              id="antiguo_proceso{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
              name="antiguo_proceso_{{ forloop.parentloop.counter }}_procesos"
              style="margin-top: 5px"
            >
              {% for proceso in procesos %} 
              {% if proceso.id == actividad.0.id %}
              <option selected value="{{proceso.id}}">
                {{proceso.nombre}}
              </option>
              {% else %}
              <option value="{{proceso.id}}">{{proceso.nombre}}</option>
              {% endif %} 
              {% endfor %}
            </select>
            {% endfor %}
          </td>
          <td id="antiguo_proceso_{{ forloop.counter }}_td2">
            <fieldset class="form-group date-icon">
              <input type="date" 
              class="col-md-5" 
              style="margin-right: 10%;
              margin-top: 6%; margin-left: 2%" 
              id="antiguo_fecha{{forloop.counter }}_1"
              name="antiguo_proceso_{{ forloop.counter}}_fechas"
              value = "{{proceso_lista.1|date:"Y-m-d"}}" /> 
              <input type="date" 
              class="col-md-5" 
              style="margin-top: 6%"
              id="antiguo_fecha{{ forloop.counter }}_2" 
              name="antiguo_proceso_{{forloop.counter }}_fechas" 
              value ="{{proceso_lista.2|date:"Y-m-d"}}" />
              <br /><br />
            </fieldset>
          </td>

          <td id="antiguo_proceso_{{ forloop.counter }}_td3">
            <!--
            <button
              type="button"
              class="btn btn-primary btn-sm"
              style="margin-bottom: 5px"
              onclick="extraSelect2Antiguo('antiguo_proceso_{{ forloop.counter }}_td3',{{ forloop.counter }})"
            >
              <i class="fa fa-plus" aria-hidden="true"></i> Añadir
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm pull-right"
              onclick="removeDependenciaAntiguo('antiguo_proceso_{{ forloop.counter }}_td3',{{ forloop.counter0 }})"
            >
              <i class="fa fa-plus" aria-hidden="true"></i> Eliminar
            </button> -->

            {% for dependencia_proceso in proceso_lista.4 %}
            <input
              type="number"
              id="antiguo_dependencia_{{ forloop.parentloop.counter }}_id_{{ forloop.counter }}"
              name="antiguo_proceso_{{ forloop.parentloop.counter }}_dependencia_id"
              value="{{dependencia_proceso.1.id}}"
              style="display: none; margin-bottom: 10px"
            />
            <input
              type="number"
              id="antiguo_dependencia_{{ forloop.parentloop.counter }}_status_{{ forloop.counter }}"
              name="antiguo_proceso_{{ forloop.parentloop.counter }}_dependencia_status"
              value="1"
              style="display: none; margin-bottom: 10px"
            />
            <select
              class="form-control select2"
              id="antiguo_dependencia{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
              name="antiguo_proceso_{{ forloop.parentloop.counter }}_dependencias"
            >
              {% for dependencia in dependencias %} 
              {% if dependencia.id ==  dependencia_proceso.0.id %}
              <option selected value="{{dependencia.id}}">
                {{dependencia.nombre}}
              </option>
              {% else %}
              <option value="{{dependencia.id}}">{{dependencia.nombre}}</option>
              {% endif %} 
              {% endfor %}
            </select>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <br />
          <label>Elaborado por</label>
          <select
            class="form-control select2"
            id="elaborado"
            name="auditor_elaborado"
          >
            {% for auditor in auditores %} 
            {% if auditor.id == programa.auditor_elaborado_id %}
            <option selected value="{{auditor.id}}">{{auditor}}</option>
            {% else %}
            <option value="{{auditor.id}}">{{auditor}}</option>
            {% endif %} 
            {% endfor %}
          </select>
          <br />
          <label>Revisado por</label>
          <select
            class="form-control select2"
            id="revisado"
            name="auditor_revisado"
          >
            {% for auditor in auditores %} 
            {% if auditor.id == programa.auditor_revisado_id %}
            <option selected value="{{auditor.id}}">{{auditor}}</option>
            {% else %}
            <option value="{{auditor.id}}">{{auditor}}</option>
            {% endif %} 
            {% endfor %}
          </select>
          <br />
          <label>Aprobado por</label>
          <select
            class="form-control select2"
            id="aprovado"
            name="auditor_aprobado"
          >
            {% for auditor in auditores %} 
            {% if auditor.id == programa.auditor_aprobado_id %}
            <option selected value="{{auditor.id}}">{{auditor}}</option>
            {% else %}
            <option value="{{auditor.id}}">{{auditor}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-sm-2">
        {% if programa.firma == "" %}
        <label for="id_firma" class="mb-1">Firma: </label>
        <input type="file" name="firma" accept="image/*" id="id_firma" />
        {% else %}
        <label for="id_firma" class="mb-1">Firma: </label>
        <img width="100" height="100" src="/media-files/{{programa.firma}}" />
        <label for="firma-clear_id">Quitar firma</label>
        <input
          type="checkbox"
          name="firma-clear_id"
          firma:me="firma-clear"
          id="firma-clear_id"
        />
        <br />
        <label for="id_firma">Cambiar Imagen</label>
        <input type="file" name="firma" accept="image/*" id="id_firma" />
        {% endif %}

        <br />
        <br />
        <br />

        <div class="multiselect">
          <div class="selectBox" onclick="showCheckboxes('checkboxes1')">
            <select>
              <option>Facultades y Escuelas</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div class="checkboxes" id="checkboxes1">
            {% for facultad in facultades %} 
            {% if facultad in facultades_antiguo %}
            <label for="facultad_{{facultad.nombre}}">
              <input
                type="checkbox"
                value="{{facultad.id}}"
                id="facultad_{{facultad.nombre}}"
                name="facultades_ids"
                checked
              />{{facultad.nombre}}</label
            >
            {% else %}
            <label for="facultad_{{facultad.nombre}}">
              <input
                type="checkbox"
                value="{{facultad.id}}"
                id="facultad_{{facultad.nombre}}"
                name="facultades_ids"
              />{{facultad.nombre}}</label
            >
            {% endif %} 
            {% for escuela in escuelas %} 
            {% if escuela.facultad_id == facultad.id %} 
            {% if escuela in escuelas_antiguo %}
            <label class="escuela" for="escuela_{{escuela.nombre}}">
              <input
                class="escuela"
                type="checkbox"
                value="{{escuela.id}}"
                id="escuela_{{escuela.nombre}}"
                name="escuelas_ids"
                checked
              />{{escuela.nombre}}</label
            >
            {% else %}
            <label class="escuela" for="escuela_{{escuela.nombre}}">
              <input
                class="escuela"
                type="checkbox"
                value="{{escuela.id}}"
                id="escuela_{{escuela.nombre}}"
                name="escuelas_ids"
              />{{escuela.nombre}}</label
            >
            {% endif %} 
            {% endif %} 
            {% endfor %} 
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <input
      type="number"
      id="n_procesos_antiguos"
      name="n_procesos_antiguos"
      value="{{procesos_lista|length}}"
      style="display: none; margin-bottom: 10px"
    />
    <input
      type="number"
      id="n_procesos"
      name="n_procesos"
      value="0"
      style="display: none; margin-bottom: 10px"
    />
  </form>
</div>

<!-- partial -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{% static 'js/script-programa-edit.js' %}"></script>
<script src="{% static 'js/script-entidades-checkboxes.js' %}"></script>

{% endblock %}
