{% extends 'index.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
/>
<!-- partial:index.partial.html -->
<div style="padding-top: 8%; padding-left:16%; padding-right:12%; padding-bottom:1%; background-color: white">
  <form
    action="{% url 'add-programa' %}"
    method="post"
    enctype="multipart/form-data"
    id="formID"
  >
    {% csrf_token %}
    <h4 style="background: #a07b2b; color: white">
      Registro de programa de Auditoria
    </h4>
    <div class="row">
      <div
        class="col-md-3"
        style="height: 102px; padding: 0px; border-style: groove"
        style=""
      >
        <img
          src="{% static 'images/unsa.png' %}"
          style="height: 95%; width: 95%"
        />
      </div>
      <div class="col-md-6" style="padding: 0px">
        <div style="height: 51px; border-style: groove">
          <center><h4>FORMATO</h4></center>
        </div>
        <div style="height: 51px; border-style: groove">
          <center><h4>PROGRAMA DE AUDITORÍA DEL SGC2</h4></center>
        </div>
      </div>
      <div class="col-md-1" style="padding: 0px">
        <div style="height: 34px; border-style: groove">
          <center><h5>CODIGO</h5></center>
        </div>
        <div style="height: 34px; border-style: groove">
          <center><h5>VERSION</h5></center>
        </div>
        <div style="height: 34px; border-style: groove">
          <center><h5>REVISION</h5></center>
        </div>
      </div>
      <div class="col-md-2" style="padding: 0px">
        <div style="height: 34px">
          <textarea
            name="codigo"
            class="form-control"
            rows="3"
            required="required"
            style="resize: none"
            readonly="readonly"
          >
          F-PE01.04-06</textarea
          >
        </div>
        <div style="height: 34px">
          <textarea
            name="version"
            class="form-control"
            rows="1"
            required="required"
            style="resize: none"
            readonly="readonly"
          >
          2.0</textarea
          >
        </div>
        <div style="height: 34px">
          <textarea
            id = "n_revision"
            name="n_revision"
            class="form-control"
            rows="1"
            required="required"
            style="resize: none"
            onKeyUp="validateRevision(event)"
          >
1</textarea
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Titulo</label>
          <textarea
            name="titulo"
            class="form-control"
            rows="1"
            required="required"
          ></textarea>
        </div>
      </div>

      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Objetivo</label>
          <textarea
            name="objetivo"
            class="form-control"
            rows="1"
            required="required"
          ></textarea>
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-2">
        <input
          id="submitID"
          type="image"
          src="{% static 'images/guardar.png' %}"
          width="60%"
          class="btn pull-right"
          onclick=""
        />
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Alcance</label>
          <textarea
            name="alcance"
            class="form-control"
            rows="1"
            required="required"
          ></textarea>
        </div>
      </div>
      <!--
      <div class="col-md-2">
        <input
          type="image"
          src="{% static 'images/pdf.png' %}"
          width="60%"
          class="btn pull-right"
        />
      </div> -->

      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Criterios de auditoria</label>
          <textarea
            name="criterios_auditoria"
            class="form-control"
            rows="1"
            required="required"
          ></textarea>
        </div>
      </div>

      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Modalidad</label>
          <select class="form-control" id="modalidad" name="modalidad">
            <option>Virtual</option>
            <option>Presencial</option>
          </select>
        </div>
      </div>

      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Lugar</label>
          <textarea
            name="lugar"
            class="form-control"
            rows="1"
            required="required"
          ></textarea>
        </div>
      </div>

      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Recurso</label>
          <textarea
            name="recursos"
            class="form-control"
            rows="1"
            required="required"
          ></textarea>
        </div>
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <label for="first">Control de riesgos</label>
          <textarea
            name="control_riesgo"
            class="form-control"
            rows="1"
            required="required"
          ></textarea>
        </div>
      </div>

      <!--  col-md-6   -->
    </div>

    <button
      type="button"
      class="btn btn-primary btn-sm"
      onclick="CreateTable()"
    >
      <i class="fa fa-plus" aria-hidden="true"></i> Añadir
    </button>
    <button
      type="button"
      class="btn btn-danger btn-sm pull-right"
      onclick="removeProceso()"
    >
      <i class="fa fa-plus" aria-hidden="true"></i> Eliminar
    </button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 35%">Proceso de Auditoria</th>
          <th scope="col" style="width: 30%">Fecha de Auditoria</th>
          <th scope="col" style="width: 35%">Dependencia de Auditoria</th>
        </tr>
      </thead>
      <tbody id="table">
        <tr id="proceso_1">
          <td id="proceso_1_td1">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              style="margin-bottom: 5px"
              onclick="extraSelect('proceso_1_td1',1)"
            >
              Añadir
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm pull-right"
              onclick="removeActividad('proceso_1_td1',0)"
            >
              <i class="fa fa-plus" aria-hidden="true"></i> Eliminar
            </button>

            <select
              class="form-control select2"
              id="proceso1_1"
              name="proceso_1_procesos"
              style="margin-top: 5px"
            >
              {% for proceso in procesos %}
              <option value="{{proceso.id}}">{{proceso.nombre}}</option>
              {% endfor %}
            </select>
          </td>

          <td id="proceso_1_td2">
            <fieldset class="form-group date-icon">
              <input
                type="date"
                required
                class="col-md-5"
                style="margin-right: 10%; margin-top: 6%; margin-left: 2%"
                id="fecha1_1"
                name="proceso_1_fechas"
                value="{% now "Y-m-d" %}"
              />

              <input
                type="date"
                required
                class="col-md-5"
                style="margin-top: 6%"
                id="fecha1_2"
                name="proceso_1_fechas"
                value="{% now "Y-m-d" %}"
              />
              <br /><br />
            </fieldset>
          </td>

          <td id="proceso_1_td3">
            <!-- <button
              type="button"
              class="btn btn-primary btn-sm"
              style="margin-bottom: 5px"
              onclick="extraSelect2('proceso_1_td3',1)"
            >
              <i class="fa fa-plus" aria-hidden="true"></i> Añadir
            </button> 
            <button
              type="button"
              class="btn btn-danger btn-sm pull-right"
              onclick="removeDependencia('proceso_1_td3',0)"
            >
              <i class="fa fa-plus" aria-hidden="true"></i> Eliminar
            </button> -->
            <select
              class="form-control select2"
              id="dependencia1_1"
              name="proceso_1_dependencias"
            >
              {% for dependencia in dependencias %}
              <option value="{{dependencia.id}}">{{dependencia.nombre}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <br />
          <label>Elaborado por</label>
          <select
            class="form-control select2"
            id="elaborado"
            name="auditor_elaborado"
          >
            {% for auditor in auditores %}
            <option value="{{auditor.id}}">{{auditor}}</option>
            {% endfor %}
          </select>
          <br />
          <label>Revisado por</label>
          <select
            class="form-control select2"
            id="revisado"
            name="auditor_revisado"
          >
            {% for auditor in auditores %}
            <option value="{{auditor.id}}">{{auditor}}</option>
            {% endfor %}
          </select>
          <br />
          <label>Aprobado por</label>
          <select
            class="form-control select2"
            id="aprovado"
            name="auditor_aprobado"
          >
            {% for auditor in auditores %}
            <option value="{{auditor.id}}">{{auditor}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-sm-2">
        <label for="id_firma" class="mb-1">Firma: </label>
        <input type="file" name="firma" accept="image/*" id="id_firma" />
        
        <br />
        <br />
        <br />
        
        <div class="multiselect">
          <div class="selectBox" onclick="showCheckboxes('checkboxes1')">
            <select>
              <option>Facultades y Escuelas</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div class="checkboxes" id="checkboxes1">
            {% for facultad in facultades %}
            <label for="facultad_{{facultad.nombre}}">
              <input
                type="checkbox"
                value="{{facultad.id}}"
                id="facultad_{{facultad.nombre}}"
                name="facultades_ids"
              />{{facultad.nombre}}</label
            >
            {% for escuela in escuelas %} 
            {% if escuela.facultad_id == facultad.id %}
            <label class="escuela" for="escuela_{{escuela.nombre}}">
              <input
                class="escuela"
                type="checkbox"
                value="{{escuela.id}}"
                id="escuela_{{escuela.nombre}}"
                name="escuelas_ids"
              />{{escuela.nombre}}</label
            >
            {% endif %} 
            {% endfor %} 
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <input
      type="number"
      id="n_procesos"
      name="n_procesos"
      value="1"
      style="display: none; margin-bottom: 10px"
    />
  </form>
</div>

<!-- partial -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{% static 'js/script-programa-add.js' %}"></script>
<script src="{% static 'js/script-entidades-checkboxes.js' %}"></script>
{% endblock %}
